html,body {
	margin:0px;
	padding:0px;
}

body {
	background: #12151c;
}


canvas {
	position: absolute;
}

.desc {
	position: absolute;
	left: 30px;
	bottom: 30px;
	z-index: 1;
	width: 360px;
	background: rgba(0, 0, 0, .15);
	padding: 10px;
	box-sizing: border-box;

	transition: all 1s ease-out;
}


.desc:hover {
	background: rgba(0, 0, 0, .5);
}

.instruction {
	width:100%;
	float:left;
	color: white;
	font-family: "Courier New";
	font-size: 15px;
	margin:0px;
}


.copy {
	margin: 0px;
	margin-top: 5px;
	width: 100%;
	float: left;
	color: white;
	font-family: "Courier New";
	font-size: 11px;
	line-height: 15px;
}